
<div id="inputs">
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="form-group">
                <p class="category text-white">Catalogo</p>
                <input type="text" value="" placeholder="Catálogo CorSalud" class="form-control py-3" />
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="form-group">
                <p class="category text-white">Tipo Consulta</p>
                <input type="text" value="" placeholder="Todos los Campos" class="form-control py-3 text-light" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <div class="form-group mt-3">
                <input type="text" value="" placeholder="¿Que Desea Consultar?" class="form-control py-3" />
            </div>
        </div>
        <div class="col-sm-6 col-lg-2">
            <div class="form-group">
                <button class="btn btn-success py-3 px-4 border-dark-5">Buscar</button>
            </div>
        </div>
    </div>
</div>
<div class="cuadros">
    <div class="row">
        <div class="col-sm-6 col-lg-3">

        </div>
    </div>
</div>