<div class="catalogos">
    <div class="inputs">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <p class="category text-white">Catalogo</p>
                    <input type="text" value="" placeholder="Catálogo CorSalud" class="form-control py-3" />
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <p class="category text-white">Tipo Consulta</p>
                    <input type="text" value="" placeholder="Todos los Campos" class="form-control py-3 text-light" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <div class="form-group mt-3">
                    <input type="text" value="" placeholder="¿Que Desea Consultar?" class="form-control py-3" />
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="form-group">
                    <button class="btn btn-success py-3 px-4 border-dark-5">Buscar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="py-5">
        <div class="row">
          <!-- DEMO 5 Item-->
          <div class="col-lg-6 mb-3 mb-lg-0">
            <div class="hover hover-5 text-white rounded"><img src="https://bootstrapious.com/i/snippets/sn-img-hover/hoverSet-10.jpg" alt="">
              <div class="hover-overlay"></div>
              <div class="hover-5-content">
                <h3 class="hover-5-title text-uppercase font-weight-light mb-0">Image <strong class="font-weight-bold text-white">Caption </strong><span>Colorfull</span></h3>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- DEMO 5 Item-->
            <div class="hover hover-5 text-white rounded"><img src="https://bootstrapious.com/i/snippets/sn-img-hover/hoverSet-9.jpg" alt="">
              <div class="hover-overlay"></div>
              <div class="hover-5-content">
                <h3 class="hover-5-title text-uppercase font-weight-light mb-0">Image <strong class="font-weight-bold text-white">Caption </strong><span>Colorfull</span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
   
    
</div>

