<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
            <img class="n-logo" src="../../assets/img/img-project/library_icon.png" alt="">
            <app-catalogos></app-catalogos>
          </div>
      </div>
  </div>

  <div class="main">
      
      <app-basicelements></app-basicelements>
      <app-navigation></app-navigation>

      <div class="section section-tabs">
          <div class="container">
              <div class="row">
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                      <p class="category">Tabs with Icons on Card</p>
                      <!-- Nav tabs -->

                      <div class="card">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ngb-tabset [justify]="'center'" class="text-center">
                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                        <i class="now-ui-icons objects_umbrella-13"></i> Home
                                      </ng-template>
                                        <ng-template ngbTabContent>
                                          <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                        <i class="now-ui-icons shopping_cart-simple"></i> Profile
                                      </ng-template>
                                        <ng-template ngbTabContent>
                                            <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                          <i class="now-ui-icons shopping_shop"></i> Messages
                                      </ng-template>
                                        <ng-template ngbTabContent>
                                            <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                        <i class="now-ui-icons ui-2_settings-90"></i> Settings
                                      </ng-template>
                                        <ng-template ngbTabContent>
                                          <p>
                                              "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                                          </p>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                      <p class="category">Tabs with Background on Card</p>
                      <!-- Tabs with Background on Card -->
                      <div class="card">
                        <div class="nav-tabs-navigation" data-tabs-color="orange">
                            <div class="nav-tabs-wrapper">
                                <ngb-tabset [justify]="'center'" class="text-center" >
                                    <ngb-tab title="Home">
                                      <ng-template ngbTabContent>
                                        <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                      </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Profile">
                                      <ng-template ngbTabContent>
                                          <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                                      </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Messages">
                                      <ng-template ngbTabContent>
                                          <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                      </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Settings">
                                        <ng-template ngbTabContent>
                                          <p>
                                              "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                                          </p>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                      </div>
                      <!-- End Tabs on plain Card -->
                  </div>
              </div>
          </div>
      </div>
      <div class="section section-pagination">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <h4>Progress Bars</h4>
                      <div class="progress-container">
                        <span class="progress-badge">Default</span>

                        <ngb-progressbar [value]="25"><span class="progress-value">25%</span></ngb-progressbar><br>
                      </div>
                      <div class="progress-container progress-primary">
                          <span class="progress-badge">Primary</span>
                          <ngb-progressbar [value]="60"><span class="progress-value">60%</span></ngb-progressbar><br>
                      </div>
                      <br />
                      <h4>Navigation Pills</h4>
                      <ngb-tabset type="pills" class="nav nav-pills nav-pills-primary justify-content-start tab-space nav-pills-just-icons">
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="far fa-gem"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="fa fa-thermometer-full"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                              <ng-template ngbTabTitle>
                                <i class="fa fa-suitcase"></i>
                              </ng-template>
                              <ng-template ngbTabContent>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab [disabled]="true">
                              <ng-template ngbTabTitle>
                                <i class="fa fa-exclamation"></i>
                              </ng-template>
                              <ng-template ngbTabContent>
                              </ng-template>
                          </ngb-tab>
                      </ngb-tabset>
                  </div>
                  <div class="col-md-6">
                      <h4>Pagination</h4>
                      <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination" class="pagination-primary"></ngb-pagination>
                      <br/>
                      <ngb-pagination [collectionSize]="50" [(page)]="page2" aria-label="Default pagination"></ngb-pagination>
                      <br>
                      <h4>Labels</h4>
                      <span class="badge badge-default">Default</span>
                      <span class="badge badge-primary">Primary</span>
                      <span class="badge badge-success">Success</span>
                      <span class="badge badge-info">Info</span>
                      <span class="badge badge-warning">Warning</span>
                      <span class="badge badge-danger">Danger</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
