<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
      <div class="dropdown button-dropdown">
        <div ngbDropdown>
          <a class="dropdown-toggle" ngbDropdownToggle>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
          </a>
           <div ngbDropdownMenu>
             <a class="dropdown-header">Libr@ry</a>
             <a class="dropdown-item" href="#">Catalogos</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Consultas Avanzadas</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Explorar Catalogo</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Catalogos Seriada</a>
             <a class="dropdown-item" href="#">Servicios Catalogo</a>
           </div>
         </div>
      </div>
        <div class="navbar-translate">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="dropdown-header">Corsalud
                <!--     <img src="assets/img/img-project/library_icon.png" alt="" width="5%" height="5%"> -->
                  <button id="fullscreen-button">pcompleta</button>
                  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
